
{% extends "baseaddmin.html" %}
{% load static %}
{% block content %}

 <br>
 <br>
 <br>
 <br>
<br>

<div class="row">


	<div class="col-md-6" >
		<div class="card card-body" id="t">

			<form action="" method="POST">
				{% csrf_token %}
				{{f}}
				<input type="submit" name="Submit"  >
             <a class="btn btn-danger" href="#" onclick="history.back()">Cancel</a>
			</form>

		</div>
	</div>
</div>
<style>
body {

  background-size:80% 80%;
  background-repeat:no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;

  background: url('{% static "images/a.jpg" %}') no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;

 }</style>

{% endblock %}

